{% extends "templates/error.html" %}

{% block h1_error %}
{% if status_code == 403 %}
{{ super() }}
<p>
  <strong>Your account is not authorized to use this service</strong>.
</p>
{% elif status_code == 400 %}
{{ super() }}
<p>
  Please login again from <a href="https://datahub.ncssm.edu">the home page</a>.
</p>
{% elif status_code == 500 %}
{{ super() }}
<p>
  Oh no! Something is wrong on our end. If this problem persists, please put in an ITS Help Ticket.
</p>
{% else %}
{{ super() }}
{% endif %}

{% endblock h1_error %}
